html,
body2 {
    position: relative;
    min-height: 100%;
    height: 100%;
}

html {
    position: relative;
    overflow-x: hidden;
    /*     margin: 16px; */
    padding: 0;
    min-height: 100%;
    /* For rem units support */
    font-size: calc(62.5% * 2);
}

body {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    /*overflow-y: auto;
    overflow-x: hidden;*/
    overflow: hidden;
}

body.loaded {
    /*height: 100%;
    overflow-y: auto;
    overflow-x: hidden;*/
}

.hide {
    display: none;
}

ul.unstyled {
    list-style: none;
}

.card {
    background: #2c3a41;
}

#inputsC {
    display: block;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: inherit;
    background-color: #263238;
    z-index: 999;
}

.inputsC2 {
    z-index: 1;
}

.inputsC2 .media_previewC {
    /* max-height: calc(500px + 0.4rem * 3); */
    width: 100%;
    /* height: calc(100vh - 72px * 2 + 0.6rem * 2); */
    /* display: table-caption; */
    top: 48px;
    bottom: 72px;
    position: absolute;
    left: 0;
    right: 0;
    overflow-x: auto;
    overflow-y: auto;
    background-color: #2c3a41;
}

#message {
    max-height: 120px;
    resize: vertical !important;
}

#send {
    /*position: absolute;
    right: 1rem;
    bottom: .5rem;*/
}

#media_preview {
    /*position: absolute; 
     top: 43px; 
    left: 0px;
    right: 0px;
    bottom: 50px;
    width: 100%;
     height: calc(100% - 92px); 
    z-index: 1000;*/
    /*background-color: #263238;*/
}

#main-tabs {
    /*padding-top: 4.4rem;*/
}

#main-tabs>[tab] {
    border: none;
    height: 100vh;
    padding-top: 2.4rem;
}

#main-tabs>div[tab="Lobby"],
#main-tabs>div[tab="PrivateChat"] {
    /*margin-top: 4.4rem;*/
    /*height: 100vh;*/
}

.message-list {
    margin-left: 0px;
    /*height: 75vh;
    overflow-y: overlay;
    overflow-x: hidden;*/
    /*overflow: visible;*/
}

#scrolltobottombtn {
    /*right: 20px;
    bottom: 70px;*/
    right: 35px;
    bottom: 80px;
    z-index: 998;
    position: absolute;
}

.message-list>li>ul.times-messages>li>.tile>.tile-content {
    position: relative;
}

.message-list[design-type]>li>ul.times-messages>li>.tile>.tile-content:before {
    content: " ";
    position: absolute;
    top: 0px;
    left: 0px;
    border-style: solid;
    border-width: 15px 10px 0;
    border-color: #2c3a41 transparent;
    display: block;
    width: 0px;
    z-index: 0;
}

.message-list[design-type]>li>ul.times-messages>li>.tile.light>.tile-content:before {
    border-color: #f7f7f7 transparent;
}

.message-list[design-type]>li>ul.times-messages>li[users-own-message="true"]>.tile>.tile-content:before {
    right: 0px;
    left: initial;
}

.message-list[design-type="3"]>li>ul.times-messages>li>.tile>.tile-content:before {
    top: 22px;
    left: 2px;
}

.message-list[design-type="3"]>li>ul.times-messages>li[users-own-message="true"]>.tile>.tile-content:before {
    right: 2px
}

.message-list>li>ul.times-messages>li>.tile>.tile-content>.card {
    max-width: 25rem;
    /* padding-left: 1rem;
    padding-right: 1rem; */
    display: table;
    border: 0;
}

.message-list>li>ul.times-messages>li:not([users-own-message="true"])>.tile>.tile-content>.card {
    margin-right: auto;
}

.message-list>li>ul.times-messages>li[users-own-message="true"]>.tile>.tile-content>.card {
    margin-left: auto;
}

.message-list>li>ul.times-messages>li:not([users-own-message="true"])>.tile>.tile-content>.card.bot-msg {
    border-width: 2px;
    border-style: solid;
    border-color: #1de9b6;
}

.message-list>li>ul.times-messages>li:not([users-own-message="true"])>.tile>.tile-content>.card.bot-msg.error {
    border-color: #e85600;
}

.message-list>li>ul.times-messages>li:not([users-own-message="true"])>.tile>.tile-content>.card.bot-msg.warning {
    border-color: #ffb700;
}

.message-list>li>ul.times-messages>li:not([users-own-message="true"])>.tile>.tile-content>.card.bot-msg.success {
    border-color: #32b643;
}

.message-list>li>ul.times-messages>li:not([users-own-message="true"])>.tile>.tile-content>.card.bot-msg.secondary {
    border-color: #cbfaee;
}

.message-list>li>ul.times-messages>li[users-own-message="true"]>.tile>.tile-content>.card.bot-msg {
    border-width: 2px;
    border-style: dotted;
    border-color: #263238;
}

.message-list>li>ul.times-messages>li>.tile>.tile-content>.card>.card-body {
    /*white-space: pre-line;*/
    max-width: 25rem;
    /* overflow-x: auto; */
}

.message-list>li>ul.times-messages>li>.tile>.tile-content>.card>.card-body>pre {
    overflow-x: auto;
}

.message-list>li>ul.times-messages>li>.tile>.tile-content>.card>.card-body>div.popover.hasimage {
    left: -.8rem;
    width: calc(100% + .8rem * 2);
}

.message-list>li>ul.times-messages>li>.tile>.tile-content>.card>.card-body>div.popover.hasimage>.popoverimgC {
    width: 100%;
    height: 100%;
    overflow-x: auto;
}

.message-list>li>ul.times-messages>li>.tile>.tile-content>.card>.card-body>div.popover.hasimage>.img-responsive {
    margin: 0 auto;
}

.message-list>li>ul.times-messages>li>.tile>.tile-content>.card>.card-body>p:empty+div.popover.hasimage {
    margin-top: -.8rem;
}

.message-list>li>ul.times-messages>li>.tile>.tile-content>.card>.card-body>p:empty+div.popover.hasimage.isgif-true>button.img-responsive {
    width: 100% !important;
}

.message-list>li>ul.times-messages>li>.tile>.tile-content>.card>.card-body>*:first-child {
    margin-top: 0;
}

.message-list>li>ul.times-messages>li>.tile>.tile-content>.card>.card-body>*:first-child:empty {
    margin: 0;
}

.message-list>li>ul.times-messages>li>.tile>.tile-content>.card>.card-body>*:last-child {
    margin-bottom: .5rem;
}

.message-list>li>ul.times-messages>li>.tile>.tile-content>.card>.card-body>div.popover.hasimage+p:empty:last-child {
    margin-top: -1.6rem;
}

.message-list>li>ul.times-messages>li>.tile>.tile-content>.card>.card-header+.card-body>div.popover.hasimage+p:empty:last-child {
    margin-bottom: calc(0.5rem + 3px);
}

.message-list>li>ul.times-messages>li>.tile>.tile-content>.card>.card-body>p:only-child>img.emojione:only-child {
    font-size: xx-large;
}

.message-list>li>ul.times-messages>li>.tile>.tile-content>.card>.card-footer:last-child {
    padding-bottom: 0;
}

.message-list>li>ul.times-messages>li>.tile>.tile-content>.card .tile-subtitle {
    width: calc(100% + 1rem * 2);
    position: relative;
    /* left: 1rem; */
    /* background: linear-gradient(to top, rgba(0, 0, 0, 0.3), transparent); */
}

.message-list>li>ul.times-messages>li>.tile>.tile-content>.card .tile-subtitle>a.message-timestamp {
    color: #FFFFFF;
    text-shadow: -1px -1px 0px #1C2429;
    z-index: 1;
    float: right;
    padding: 0 0.2rem;
}

.message-list>li>ul.times-messages>li>.tile>.tile-content>.card.light .tile-subtitle>a.message-timestamp {
    color: #1C2429;
    text-shadow: -1px -1px 0px #FFFFFF;
}

.message-list>li>ul.times-messages>li>.tile>.tile-content>.card>.card-body .quote .quotechild {
    margin: 0;
    border-width: 0.2rem;
    border-color: #1DE9B6;
    border-radius: 0.1rem;
    background-color: rgba(127, 127, 127, 0.125);
}

.message-list>li>ul.times-messages>li>.tile>.tile-content>.card>.card-body .quote .quotechild by {
    position: relative;
    display: block;
    margin: 10px 0 0;
    margin-bottom: 20px;
    font-size: 85%;
    padding-bottom: 0.2rem;
    border-bottom: 2px solid #1DE9B6;
}

.message-list>li>ul.times-messages>li>.tile>.tile-content>.card>.card-body .quote .quotechild on {
    font-size: 75%;
    padding-top: 0.2rem;
    border-top: 2px solid #1DE9B6;
}

.times-messages {
    margin-left: 0px;
}

.message-listAt {
    top: 50px;
    left: 50%;
    z-index: 998;
    transform: translateX(-50%);
}

.gifffer-play-button {
    width: 4rem !important;
    height: 4rem !important;
    border-radius: 50% !important;
    background: #1DE9B6 !important;
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    margin: -2rem
}

.gifffer-play-button>div {
    width: 0 !important;
    height: 0 !important;
    border-top: 10px solid transparent !important;
    border-bottom: 10px solid transparent !important;
    border-left: 16px solid #FFFFFF !important;
    position: absolute !important;
    left: 50% !important;
    top: 50% !important;
    transform: translate(-40%, -50%) !important;
}

html {
    overflow: auto;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 0;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 0;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: .1rem;
    border-radius: .1rem;
    background: #1de9b6;
    -webkit-box-shadow: none;
    box-shadow: none;
}

::-webkit-scrollbar-thumb:window-inactive {
    background: #13c095;
}


/* body::-webkit-scrollbar-thumb {
    background: orange !important;
}

body>*::-webkit-scrollbar-thumb {
    background: red !important;
}

body>*>*::-webkit-scrollbar-thumb {
    background: green !important;
}

body>*>*>*::-webkit-scrollbar-thumb {
    background: blue !important;
}

body>*>*>*>*::-webkit-scrollbar-thumb {
    background-color: pink !important;
}

.message-list::-webkit-scrollbar-thumb {
    background: purple !important;
} */


/* AutoComplete styles for Emoji One */

.dropdown-menu-messageinput {
    top: initial !important;
    bottom: 50px !important;
}

.dropdown-menu-messageinput .textcomplete-item {
    margin-top: 0;
    padding: 0 .8rem;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dropdown-menu-messageinput .textcomplete-footer .arrow {
    margin-left: .8em;
    font-size: 1.3em;
}

.dropdown-menu-messageinput li .emojione {
    vertical-align: middle;
    font-size: 1.23em;
    width: 1em;
    height: 1em;
    top: -1px;
    margin: 0 .3em 0 0;
}

.dropdown-menu-messageinput {
    border-radius: .2rem;
    box-shadow: 0 .1rem .4rem rgba(38, 50, 56, .3);
    list-style: none;
    margin: 0;
    min-width: 18rem;
    padding: 1rem;
    -ms-transform: translateY(.5rem);
    transform: translateY(.5rem);
    z-index: 100;
}

.dropdown-menu-messageinput .textcomplete-item,
.dropdown-menu-messageinput .textcomplete-footer {
    margin-top: 0;
    padding: 0 .8rem;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dropdown-menu-messageinput .textcomplete-item>a,
.dropdown-menu-messageinput .textcomplete-footer>a {
    border-radius: .2rem;
    color: inherit;
    display: block;
    margin: 0 -.8rem;
    padding: .6rem .8rem;
    text-decoration: none;
    cursor: pointer;
}

.dropdown-menu-messageinput .textcomplete-item.active>a,
.dropdown-menu-messageinput .textcomplete-item>a:focus,
.dropdown-menu-messageinput .textcomplete-item>a:hover,
.dropdown-menu-messageinput .textcomplete-footer.active>a,
.dropdown-menu-messageinput .textcomplete-footer>a:focus,
.dropdown-menu-messageinput .textcomplete-footer>a:hover {
    color: #1de9b6;
}

.dropdown-menu-messageinput .textcomplete-item>a:active,
.dropdown-menu-messageinput .textcomplete-item>a.active,
.dropdown-menu-messageinput .textcomplete-footer>a:active,
.dropdown-menu-messageinput .textcomplete-footer>a.active {
    background: #e5fcf7;
    color: #1de9b6;
}

dl dd+dd {
    margin-top: -.75rem;
}

#private_contacts_list {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: calc(36px * 2);
}